<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Newtours Automation">
	<test name="Newtours Automation Test">
		<classes>
			<class name="com.qa.gilead.applicationTest.FlipcartTest"></class>
			<class name="com.qa.gilead.applicationTest.NewtoursTest"></class>
		</classes>
	</test>
</suite>